
<p-dialog
  header="{{ employee ? 'Edit Employee' : 'Add Employee' }}"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="p-3">
    <div class="mb-3 d-flex flex-column gap-2">
      <label for="fullName" class="form-label" >Full Name</label>
      <input type="text" pInputText id="fullName" formControlName="fullName" placeholder="Enter Full Name" class="w-100 form-control" />
      <div *ngIf="employeeForm.get('fullName')?.invalid && employeeForm.get('fullName')?.touched" class="text-danger">
        Name is required and must be at least 2 characters
      </div>
    </div>
    <div class="mb-3 d-flex flex-column gap-2">
      <label for="department" class="form-label">Department</label>
      <input type="text" pInputText id="department" formControlName="department" placeholder="Enter Department" class="w-100 form-control" />
      <div *ngIf="employeeForm.get('department')?.invalid && employeeForm.get('department')?.touched" class="text-danger">
        Department is required
      </div>
    </div>
    <div class="mb-3 d-flex flex-column gap-2">
      <label for="hireDate" class="form-label">Hire Date</label>
      <p-calendar id="hireDate" formControlName="hireDate" dateFormat="yy-mm-dd" placeholder="Select Hire Date" class="w-100 " />
      <div *ngIf="employeeForm.get('hireDate')?.invalid && employeeForm.get('hireDate')?.touched" class="text-danger">
        Hire Date is required
      </div>
    </div>
    <div class="mb-3 d-flex flex-column gap-2">
      <label for="status" class="form-label">Status</label>
      <p-dropdown
        id="status"
        formControlName="status"
        [options]="statusOptions"
        optionLabel="label"
        optionValue="value"
        placeholder="Select Status"
        class="w-100"
      />
      <div *ngIf="employeeForm.get('status')?.invalid && employeeForm.get('status')?.touched" class="text-danger">
        Status is required
      </div>
    </div>
    <div class="d-flex gap-2 justify-content-end">
      <p-button label="Cancel" severity="secondary" (click)="onCancel()"></p-button>
      <p-button label="Save" type="submit" [disabled]="employeeForm.invalid"></p-button>
    </div>
  </form>
</p-dialog>